.bannar-container {
  display: flex;
  min-height: 520px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bannar-left {
  flex: 1;
}

.bannar-image {
  width: 800px;
  height: 520px;
  object-fit: cover;
}

.bannar-right {
  flex: 1;
  background: #f6f1eb;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}

.subheading {
  margin-top: 30px;

  color: #b27942;
  font-weight: 600;
  margin-bottom: 10px;
}

.heading {
  font-size: 42px;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.discover-button {
  width: 180px;
  padding: 12px 20px;
  background-color: #5c3d2e;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.discover-button:hover {
  background-color: #3b271c;
}
